{
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["last 2 versions", "> 5% in BE"],
          "uglify": true
        },
        "modules": false
      }]
    ],
    "plugins": [
        "transform-object-rest-spread",
        "syntax-dynamic-import",
        "transform-inline-environment-variables"
    ]
}