* {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.is-relative {
    position: relative;
}
.columns.is-stretch {
    align-items: stretch;
}
.canvas-container.is-square canvas,
.canvas-container.is-1by1 canvas,
.canvas-container.is-4by3 canvas,
.canvas-container.is-3by2 canvas,
.canvas-container.is-16by9 canvas,
.canvas-container.is-2by1 canvas {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.background-cover {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.scrollable-y {
    overflow-y: scroll;
}
.have-loading-text {
    position: relative;
}
.loading-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.7);
    z-index: 999;
}

.table.has-text-centered-cell {
    td,th  {
        text-align: center;
        vertical-align: middle;
    }
}

.table.has-text-left-cell {
    td {
        text-align: center;
        vertical-align: middle;
    }
}

.menu.right-click {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #999;
    transition: opacity 0.2s ease 0;
    opacity: 0;
}
p.has-spliter:not(:last-child) {
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.menu.right-click.active {
    opacity: 1;
}
tr.depth-1 > td:first-child {
    padding-left: 20px;
}
tr.depth-2 > td:first-child {
    padding-left: 40px;
}
tr.depth-3 > td:first-child {
    padding-left: 60px;
}
tr.depth-4 > td:first-child {
    padding-left: 80px;
}
tr.depth-5 > td:first-child {
    padding-left: 100px;
}
