.material-trackers {
    .col1 {
        width: 40px;
        text-align: center;
    }
    .col2 {
        flex: 1 1 0;
        padding-left: 5px;
    }
    .col3 {
        width: 80px;
        text-align: center;
    }
    .col4 {
        width: 120px;
        text-align: center;
    }
    .col5 {
        width: 150px;
        text-align: center;
    }
    .col6 {
        width: 150px;
        text-align: center;       
    }

    .expandable {
        cursor: pointer;
    }
    tr.category {
        & > td { padding: 2px 45px; }
        background: #eecc
    }
    tr.material {
        cursor: pointer;

    }
    tr.material:hover {
        background: #f5f8c7
    }

   .inline-control {
        text-align: right;
        
        & > span {
            font-size: 0.75rem;
            display: inline-block;
            cursor: pointer;
        }

        }
        .inline-control
            & > span:hover {
            text-decoration: underline;
        }
    }


.material-trackers {
    margin-bottom: 50px;
}