table.heading-table {
    width: 100%;
    & > thead.thead-light {
        background: #eee;
        
        & > tr > th {
            border: 1px solid #ddd;
            padding: 2px 5px;
            font-weight: 400;
        }
    }
    & > tbody {
        width: 100%;

        & > tr {
            border: 1px solid #ddd;
        }
    }
}


