table.trackers-table {
    width: 100%;
    border: 1px solid #ddd;
    & > thead.thead-light {
        background: #eee;
        
        & > tr > th {
            border: 1px solid #ddd;
            padding: 2px 5px;
            font-weight: 400;
        }
    }
    & > tbody {
        width: 100%;

        & > tr > td {
            border: 1px solid #ddd;
        }
        & > tr.category{
            & > td {
                border: none;
            }
        }
    }
}


table.table {
    width: 100%;
    border: 1px solid #ddd;
    th, td {
        border: 1px solid #ddd;
    }
}