#works {
    .work {
        max-width: 25vw;
        position: relative;
        .work-detail {
            position: absolute;
            margin-top: 15px;
            width: calc(100vw - 150px);
            z-index: 999;
        }
    }

}
.handsontable {
    table.htCore {
        tbody {
            tr:nth-child(1), tr:nth-child(2), tr:nth-child(3) {
                background: #eee;
                td {
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }
    }
}