#works {
    .work {
        max-width: 25vw;
        position: relative;
        .work-detail {
            position: absolute;
            margin-top: 15px;
            width: calc(100vw - 150px);
            z-index: 999;
        }
    }

}
.work-report {
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    .report {
        height: 100%;
        .top, .bottom {
            width: 100%;
            height: 50%;
            float: left;
            clear: both;
            overflow-y: scroll;
        }
        .top {
            border-bottom: 3px solid #ccc;
        }

    }

 
}